:root {
 
}

body {
}

main {
  padding-top: 1rem;
  /* width: 99.2%; */
}

#intro .intro_img, #products_intro .intro_img {
  /* max-width: 500px; */
  height: auto;
}

#products img {
  max-height: 450px;
}