@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Open+Sans:wght@300;400&display=swap");

:root {
  --colour_1: #026670;
  --colour_2: #9fedd7;
  --colour_3: #fef9c7;
  --colour_4: #fce181;
  --colour_5: #edeae5;
  --facebook-colour: #4267b2;
  --instagram-colour: #cd486b;
  --linkedin-colour: #0e76a8;
}
body {
  font-family: "Open Sans", sans-serif;
}
main {
  padding-top: 6rem;
  /* width: 99.2%; */
}
.brand_logo {
  width: 125px;
  height: auto;
}
#intro .title {
  /* color: var(--colour_1); */
}

.ideas_scroll {
  height: 300px;
}

.ideas_scroll .list-group-item {
  margin: 0.4rem 0;
}

#overview img.title_embed {
  width: 115px;
  height: auto;
}
#products .card {
  box-shadow: var(--colour_5) 4px 4px 0px 0px;
  transition: all ease-in-out 200ms;
}
#products .card .card-img-top {
  max-height: 350px;
}
#products .card:hover {
  transform: scale(1.01);
  box-shadow: none;
  background: rgb(242 242 242);
}
#brief {
  background: var(--colour_1);
  color: white;
}
#brief .brief_img {
  width: 100%;
  height: auto;
}
#brief .title {
  color: var(--colour_4);
}

footer .links ul {
  padding: 0;
}
footer .links li {
  list-style-type: none;
  color: black !important;
}
footer .social-media-links a {
  color: white;
}
footer .social-media-links a:hover {
  color: white;
}
footer .social-media-links a.facebook_icon {
  background-color: var(--facebook-colour);
}
footer .social-media-links a.instagram_icon {
  background-color: var(--instagram-colour);
}
footer .social-media-links a.linkedin_icon {
  background-color: var(--linkedin-colour);
}

@media only screen and (min-width: 768px) {
  main {
    padding-top: 8rem;
    /* width: 99.2%; */
  }
}
